* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Header start */
/* Header end */
/* adiWeek start */
/* adiWeek end */
/* Outfits start */
/* Outfits end */
/* Products start */
/* Products end */
/* History start */
/* History end */
/* Most start */
/* Most end */
/* Footer start */
/* Footer end */